# ignore csv files except for test data
*.csv
atm/data/
!atm/data/test/*.csv
!atm/data/modelhub/test/*.csv
!atm/data/baselines/best_so_far/*.csv

# ignore log files and saved models/metrics
models/*
metrics/*
logs/*

# ignore configuration files except templates
*.yaml
!atm/config/test/*.yaml
!atm/config/templates/*.yaml
atm/config/templates/aws.yaml

# ignore compiled docs
docs/build/*

# ignore virtualenv and other binary files
atm-env/*
venv*/*
src/*
*.pyc
*.pem
.DS_Store
.idea/*
*.pickle
*.tsv
*.db
atm.egg-info/*
