# general
bumpversion>=0.5.3
pip>=9.0.1
watchdog>=0.8.3

# build docs
Sphinx>=1.6.5
sphinx-rtd-theme>=0.2.4
sphinxcontrib-websupport>=1.0.1

# style check
flake8>=3.4.1
isort>=4.2.15

# automatically fix style issues
autoflake>=1.1
autopep8>=1.3.5

# distribute on PyPI
twine>=1.10.0
wheel>=0.30.0

-r requirements-test.txt
