baytune==0.1.2  # This one needs to be exact
boto>=2.48.0
joblib>=0.11
future>=0.16.0
mysqlclient>=1.2
numpy>=1.13.1
pandas>=0.22.0
pyyaml>=3.12
requests>=2.18.4
scikit-learn>=0.18.2
scipy>=0.19.1
sklearn-pandas>=1.5.0
sqlalchemy>=1.1.14
